Flask
flask-socketio
Flask-SQLAlchemy
flask-bcrypt
Flask-Limiter
python-dotenv
pyotp
pytz
requests
pandas
pyngrok
SQLAlchemy
cachetools
gunicorn
eventlet
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability