<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenAlgo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('order_event', function(data) {
                var bgColorClass = data.action.toUpperCase() === 'BUY' ? 'bg-green-500' : 'bg-red-500';
                var flashMessage = document.createElement('div');
                flashMessage.className = `fixed bottom-3 right-3 md:bottom-5 md:right-5 ${bgColorClass} text-white py-2 px-4 rounded-lg text-sm`;
                flashMessage.textContent = `${data.action.toUpperCase()} Order Placed for the Symbol: ${data.symbol} Orderid : ${data.orderid}`;
                document.body.appendChild(flashMessage);
                setTimeout(function() {
                    document.body.removeChild(flashMessage);
                }, 5000);
            });
        });
    </script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>

    <!-- Favicon and touch icons for various devices -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    


    <!-- Meta tags for color settings on mobile browsers -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
        

    {% block head %}{% endblock %}
</head>
<body class="bg-gray-100">
    <!-- New Navbar Theme -->

<nav class="bg-gray-800 p-4">
  <!-- Navbar content as provided -->
  <div class="hidden sm:flex justify-between items-center">
      <!-- Navigation Links -->
            <a href="{{ url_for('dashboard_bp.dashboard') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Dashboard</a>
            <a href="{{ url_for('orders_bp.orderbook') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Orderbook</a>
            <a href="{{ url_for('orders_bp.tradebook') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Tradebook</a>
            <a href="{{ url_for('orders_bp.positions') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Positions</a>
            <a href="{{ url_for('orders_bp.holdings') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Holdings</a>
            <a href="{{ url_for('search_bp.token') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Search</a>
            <a href="{{ url_for('api_key_bp.manage_api_key') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Apikey</a>
            <a href="{{ url_for('auth.logout') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Logout</a>
  </div>
   
   <!-- Mobile Menu Button -->
     <!-- Hamburger Menu Button, visible when menu is collapsed -->
    <div class="sm:hidden">
      <button onclick="toggleMobileMenu()" class="text-white p-2">
          <div class="space-y-1 bg-gray-600 rounded shadow">
              <span class="block w-6 h-0.5 bg-gray-100"></span>
              <span class="block w-6 h-0.5 bg-gray-100"></span>
              <span class="block w-6 h-0.5 bg-gray-100"></span>
          </div>
      </button>
    </div>

      <!-- Mobile Menu (hidden by default) -->
      <div class="sm:hidden fixed top-0 left-0 transform -translate-x-full w-56 bg-gray-800 h-full shadow-md transition-transform duration-300 ease-in-out z-10" id="mobile-menu">
        <!-- Close Button, visible when menu is expanded -->
        <button onclick="closeMobileMenu()" class="text-white text-3xl p-2 rounded-full absolute right-4 top-4 hover:bg-gray-600">
            &times; <!-- Close Icon -->
        </button>
        <div class="flex flex-col items-start p-4">
            <a href="{{ url_for('dashboard_bp.dashboard') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Dashboard</a>
            <a href="{{ url_for('orders_bp.orderbook') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Orderbook</a>
            <a href="{{ url_for('orders_bp.tradebook') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Tradebook</a>
            <a href="{{ url_for('orders_bp.positions') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Positions</a>
            <a href="{{ url_for('orders_bp.holdings') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Holdings</a>
            <a href="{{ url_for('search_bp.token') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Search</a>
            <a href="{{ url_for('api_key_bp.manage_api_key') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Apikey</a>
            <a href="{{ url_for('auth.logout') }}" class="text-white text-lg px-3 py-2 rounded-md font-medium hover:bg-gray-700 w-full text-left">Logout</a>
        </div>
        
    </div>
</nav>

<script>
    function toggleMobileMenu() {
        var menu = document.getElementById('mobile-menu');
        menu.classList.remove('-translate-x-full');
        // Hide the hamburger menu button when the menu is open
        document.querySelector('button[onclick="toggleMobileMenu()"]').style.display = 'none';
    }
    
    function closeMobileMenu() {
        var menu = document.getElementById('mobile-menu');
        menu.classList.add('-translate-x-full');
        // Show the hamburger menu button when the menu is closed
        document.querySelector('button[onclick="toggleMobileMenu()"]').style.display = 'block';
    }
</script>

    <!-- Adjusted Main Content Area to avoid overlap with the new navbar -->
    <div class="container mx-auto mt-24">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer Area -->
    <footer class="bg-gray-800 text-white text-center py-4 shadow-lg fixed bottom-0 left-0 right-0">
        <p>© Copyright 2024 | <a href="https://www.openalgo.in" class="hover:text-blue-400 transition duration-150 ease-in-out" target="_blank">www.openalgo.in</a> | Open Source Algo Platform for Everyone</p>
    </footer>
</body>
</html>