<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broker Authentication</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 flex flex-col items-center justify-center h-screen text-white">
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-sm w-full">
        <div class="flex justify-center mb-6">
            <img class="h-20 w-auto" src="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" alt="OpenAlgo">
        </div>
        <h2 class="text-3xl font-bold mb-6 text-center">Broker Authentication</h2>
        
        <div class="flex items-center justify-center">
            <a href="/angel/callback" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center">Angel Login</a>
        </div>
        <div class="flex items-center justify-center">
            <a href="https://api.upstox.com/v2/login/authorization/dialog?response_type=code&client_id={{ broker_api_key }}&redirect_uri={{ redirect_url }}" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center">Upstox Login</a>
        </div>
        <div class="flex items-center justify-center">
            <a href="https://kite.zerodha.com/connect/login?v=3&api_key={{ broker_api_key }}" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center">Zerodha Login</a>
        </div>
    </div>
    <footer class="bg-gray-800 text-white text-center py-4 shadow-lg w-full fixed bottom-0 left-0 right-0">
        <p>Copyright 2024 | <a href="https://www.openalgo.in" class="hover:text-blue-400 transition duration-150 ease-in-out" target="_blank">www.openalgo.in</a> | Open Source Algo Platform for Everyone</p>
    </footer>
</body>
</html>
