<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Account Authentication - OpenAlgo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Favicon and touch icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="bg-gray-900 flex flex-col items-center justify-center min-h-screen text-white">
    <div class="p-8 rounded-lg shadow-lg max-w-md w-full bg-gray-800">
        <div class="flex justify-center mb-6">
            <img class="h-20 w-auto" src="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" alt="OpenAlgo">
        </div>
        <h2 class="text-3xl font-bold mb-6 text-center">Connect Your Trading Account</h2>
        
        <form id="trading-platform-form" class="space-y-6">
            <div>
                <label for="platform-select" class="block text-sm font-medium text-gray-300 mb-2">Login with your Broker</label>
                <select id="platform-select" name="platform" class="block w-full px-3 py-2 text-base border border-gray-600 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 bg-gray-700 text-white">
                    <option value="" selected disabled>Select a Broker</option>
                    <option value="fivepaisa">5 Paisa</option>
                    <option value="aliceblue">Alice Blue</option>
                    <option value="angel">Angel One</option>
                    <option value="dhan">Dhan</option>
                    <option value="fyers">Fyers</option>
                    <option value="icici">ICICI Direct</option>
                    <option value="kotak">Kotak Securities</option>
                    <option value="upstox">Upstox</option>
                    <option value="zebu">Zebu</option>
                    <option value="zerodha">Zerodha</option>
                </select>
            </div>
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Connect Account
            </button>
        </form>
    </div>
    
    <!-- Include the footer content -->
    {% include 'footer.html' %}

    <script>
        document.getElementById('trading-platform-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const platform = document.getElementById('platform-select').value;
            let loginUrl;

            switch(platform) {
                case 'fivepaisa':
                    loginUrl = '/fivepaisa/callback';
                    break;
                case 'aliceblue':
                    loginUrl = '/aliceblue/callback';
                    break;
                case 'angel':
                    loginUrl = '/angel/callback';
                    break;
                case 'dhan':
                    loginUrl = '/dhan/callback';
                    break;
                case 'fyers':
                    loginUrl = 'https://api-t1.fyers.in/api/v3/generate-authcode?client_id={{broker_api_key}}&redirect_uri={{redirect_url}}&response_type=code&state=2e9b44629ebb28226224d09db3ffb47c';
                    break;
                case 'icici':
                    loginUrl = 'https://api.icicidirect.com/apiuser/login?api_key={{broker_api_key}}';
                    break;
                case 'kotak':
                    loginUrl = '/kotak/callback';
                    break;
                case 'upstox':
                    loginUrl = 'https://api.upstox.com/v2/login/authorization/dialog?response_type=code&client_id={{broker_api_key}}&redirect_uri={{ redirect_url }}';
                    break;
                case 'zebu':
                    loginUrl = '/zebu/callback';
                    break;
                case 'zerodha':
                    loginUrl = 'https://kite.trade/connect/login?api_key={{broker_api_key}}';
                    break;
                default:
                    alert('Please select a broker');
                    return;
            }

            window.location.href = loginUrl;
        });
    </script>
</body>
</html>