{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center h-full">
    <div class="text-center mt-20">
        <h2 class="text-2xl font-bold mb-4">Change Password</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-4">
                {{ form.password.label }}<br>
                {{ form.password(size=32, class_="form-control") }}
            </div>
            <div class="mb-4">
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32, class_="form-control") }}
            </div>
            <div class="mb-4">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
