{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4 text-center">Dashboard</h1>
    <div class="flex justify-center">
        <form action="{{ url_for('dashboard.dashboard') }}" method="post" class="flex flex-col items-center">
            {{ form.hidden_tag() }}
            <input type="text" name="symbol" placeholder="Enter Stock Symbol" class="input input-bordered input-primary w-full max-w-xs text-center" required>
            <button type="submit" class="btn btn-primary mt-4">Get Data</button>
        </form>
    </div>
</div>
{% endblock %}
