{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center h-full">
    <div class="text-center mt-40">
        <h1 class="text-8xl font-bold mb-2 gradient-text">OpenDash</h1>
        <p class="text-sm mb-8">Trading Dashboard for Everyone</p>
        <div class="flex justify-center space-x-4 mb-8">
            <a href="/login" class="btn btn-primary btn-sm">Login</a>
            <a href="/register" class="btn btn-secondary btn-sm">Register</a>
        </div>
        <div class="flex justify-center items-center">
            <span class="mr-2">Dark</span>
            <input type="checkbox" value="synthwave" class="toggle theme-controller" />
            <span class="ml-2">Synthwave</span>
        </div>
    </div>
</div>
{% endblock %}
