{% extends "base.html" %}

{% block head %}
<title>Order Book</title>
<!-- Tailwind CSS is included in base.html -->
{% endblock %}

{% block content %}

<div class="mb-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
        <!-- Total Buy Orders -->
        <div class="border border-blue-300 bg-white p-4 md:p-6 rounded-lg shadow-sm">
            <h2 class="text-sm font-semibold text-blue-800">Buy Orders</h2>
            <p class="text-lg font-bold text-blue-800">{{ order_stats.total_buy_orders }}</p>
        </div>
        <!-- Total Sell Orders -->
        <div class="border border-red-300 bg-white p-4 md:p-6 rounded-lg shadow-sm">
            <h2 class="text-sm font-semibold text-red-800">Sell Orders</h2>
            <p class="text-lg font-bold text-red-800">{{ order_stats.total_sell_orders }}</p>
        </div>
        <!-- Total Completed Orders -->
        <div class="border border-green-300 bg-white p-4 md:p-6 rounded-lg shadow-sm">
            <h2 class="text-sm font-semibold text-green-800">Completed Orders</h2>
            <p class="text-lg font-bold text-green-800">{{ order_stats.total_completed_orders }}</p>
        </div>
        <!-- Total Open Orders -->
        <div class="border border-yellow-300 bg-white p-4 md:p-6 rounded-lg shadow-sm">
            <h2 class="text-sm font-semibold text-yellow-800">Open Orders</h2>
            <p class="text-lg font-bold text-yellow-800">{{ order_stats.total_open_orders }}</p>
        </div>
        <!-- Total Rejected Orders -->
        <div class="border border-pink-300 bg-white p-4 md:p-6 rounded-lg shadow-sm">
            <h2 class="text-sm font-semibold text-pink-800">Rejected Orders</h2>
            <p class="text-lg font-bold text-pink-800">{{ order_stats.total_rejected_orders }}</p>
        </div>
    </div>
</div>


<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="py-3 px-6">Trading Symbol</th>
                <th scope="col" class="py-3 px-6">Exchange</th>
                <th scope="col" class="py-3 px-6">Transaction Type</th>
                <th scope="col" class="py-3 px-6">Quantity</th>
                <th scope="col" class="py-3 px-6">Price</th>
                <th scope="col" class="py-3 px-6">Trigger Price</th>
                <th scope="col" class="py-3 px-6">Order Type</th>
                <th scope="col" class="py-3 px-6">Product Type</th>
                <th scope="col" class="py-3 px-6">Order ID</th>
                <th scope="col" class="py-3 px-6">Status</th>
                <th scope="col" class="py-3 px-6">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_data %}
            <tr class="bg-white border-b">
                <td class="py-4 px-6">{{ order.symbol }}</td>
                <td class="py-4 px-6">{{ order.exchange }}</td>
                <td class="py-4 px-6">
                    <div class="{{ 'bg-green-100 text-green-800' if order.action == 'BUY' else 'bg-red-100 text-red-800' }} px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full">
                        {{ order.action }}
                    </div>
                </td>
                <td class="py-4 px-6">{{ order.quantity }}</td>
                <td class="py-4 px-6">{{ order.price }}</td>
                <td class="py-4 px-6">{{ order.trigger_price }}</td>
                <td class="py-4 px-6">{{ order.pricetype }}</td>
                <td class="py-4 px-6">{{ order.product }}</td>
                <td class="py-4 px-6">{{ order.orderid }}</td>
                <td class="py-4 px-6 
                    {% if order.order_status == 'complete' %}text-green-500
                    {% elif order.order_status == 'rejected' %}text-red-500
                    {% elif order.order_status == 'open' %}text-orange-500
                    {% else %}text-blue-500{% endif %}">
                    {{ order.order_status }}
                </td>
                <td class="py-4 px-6">{{ order.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
