{% extends 'base.html' %}

{% block content %}
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="py-3 px-6">Trading Symbol</th>
                <th scope="col" class="py-3 px-6">Exchange</th>
                <th scope="col" class="py-3 px-6">Product Type</th>
                <th scope="col" class="py-3 px-6">Net Qty</th>
                <th scope="col" class="py-3 px-6">Avg Net Price</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions_data %}
            <tr class="bg-white border-b">
                <td class="py-4 px-6">{{ position.symbol }}</td>
                <td class="py-4 px-6">{{ position.exchange }}</td>
                <td class="py-4 px-6">{{ position.product }}</td>
                <td class="py-4 px-6">{{ position.quantity }}</td>
                <td class="py-4 px-6">{{ position.average_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
