{% extends 'base.html' %}

{% block content %}
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="py-3 px-6">Trading Symbol</th>
                <th scope="col" class="py-3 px-6">Exchange</th>
                <th scope="col" class="py-3 px-6">Product Type</th>
                <th scope="col" class="py-3 px-6">Transaction Type</th>
                <th scope="col" class="py-3 px-6">Fill Size</th>
                <th scope="col" class="py-3 px-6">Fill Price</th>
                <th scope="col" class="py-3 px-6">Trade Value</th>
                <th scope="col" class="py-3 px-6">Order ID</th>
                <th scope="col" class="py-3 px-6">Fill Time</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in tradebook_data %}
            <tr class="bg-white border-b">
                <td class="py-4 px-6">{{ trade['symbol']  }}</td>
                <td class="py-4 px-6">{{ trade['exchange'] }}</td>
                <td class="py-4 px-6">{{ trade['product'] }}</td>
                <td class="py-4 px-6">
                    <div class="{{ 'bg-red-100 text-red-800' if trade['action'] == 'SELL' else 'bg-green-100 text-green-800' }} px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full">
                        {{ trade['action'] }}
                    </div>
                </td>
                <td class="py-4 px-6">{{ trade['quantity'] }}</td>
                <td class="py-4 px-6">{{ trade['average_price'] }}</td>
                <td class="py-4 px-6">{{ trade['trade_value']}}</td>
                <td class="py-4 px-6">{{ trade['orderid'] }}</td>
                <td class="py-4 px-6">{{ trade['timestamp'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
