<!-- templates/tradingview.html -->
{% extends 'base.html' %}

{% block head %}
<!-- Include Prism CSS -->
<link href="{{ url_for('static', filename='css/prism.css') }}" rel="stylesheet" />

<style>

    .vertical-space {
        height: 20px; /* or you can use margin */
    }

    .margin-bottom {
    margin-bottom: 20px; /* Add space below the element */
    }

    #json-output-container {
        display: none; /* Initially hide the Prism output container */
        width: 100%; /* Full width */
        max-width: 700px; /* Maximum width, but you can adjust this value */
        margin: left; /* left align the container */
    }

    #symbol, #product, #exchange {
        width: 100%; /* Full width */
        max-width: 300px; /* Maximum width, but you can adjust this value */
        margin: auto; /* Align left */
    }

    #webhook-info {
        width: 100%; /* Full width */
        max-width: 700px; /* Maximum width, adjust this value as needed */
        margin: left; /* left align */
    }

    #copy-success-alert {
        display: none; /* Initially hide the copy success alert */
        color: green; /* Set the color of the success message */
        padding-left: 1rem; /* Space between button and alert message */
        line-height: 2.5rem; /* Align with the button height */
    }

    /* Container for the copy button and the alert message */
    .copy-container {
        display: flex;
        align-items: center; /* Align button and message vertically */
        margin-top: 1rem;
    }

    /* Extend the width of the Prism output box */
    pre[class*="language-"] {
        max-width: none;
    }

    /* Adjustments for mobile devices */
    @media (max-width: 768px) {
        #json-output-container, #symbol, #product, #webhook-info {
            max-width: 100%; /* Full width on smaller screens */
            margin: auto;
        }
        
        .copy-container, #webhook-info {
            flex-direction: column; /* Stack elements vertically */
        }
        
        #copy-success-alert, #copyAlert {
            margin-top: 0.5rem; /* Space above the success message */
        }
        
        /* Adjust the form input and select fields to be full width on mobile */
        #symbol, #product, #exchange {
            max-width: 100%;
        }
        
        /* Make the generate JSON button full width */
        #tradingview-form button[type="submit"] {
            width: 100%;
            margin-top: 1rem; /* Margin above the button */
        }
        
        /* Adjust the margin for the webhook info */
        #webhook-info {
            margin-top: 2rem; /* Space above the webhook info */
        }
    }
 


</style>
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto py-8">
    <h1 class="text-2xl font-semibold mb-4">Tradingview JSON Generator</h1> 
<form id="tradingview-form">
    <div class="mb-4">
        <label for="symbol" class="block text-gray-700 text-sm font-bold mb-2">Symbol:</label>
        <input type="text" id="symbol" name="symbol" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
    </div>
    <div class="mb-4">
        <label for="product" class="block text-gray-700 text-sm font-bold mb-2">Product:</label>
        <select id="product" name="product" class="shadow border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
            <option value="MIS">MIS</option>
            <option value="NRML">NRML</option>
            <option value="CNC">CNC</option>
        </select>
    </div>
    <div class="mb-4">
        <!-- Corrected placement of div for Exchange dropdown menu -->
        <label for="exchange" class="block text-gray-700 text-sm font-bold mb-2">Exchange:</label>
        <select id="exchange" name="exchange" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            <option value="">Select Exchange</option>
            <option value="NSE">NSE</option>
            <option value="NFO">NFO</option>
            <option value="BSE">BSE</option>
            <option value="BFO">BFO</option>
            <option value="CDS">CDS</option>
            <option value="MCX">MCX</option>
        </select>
    </div>
    <!-- Include other fields for strategy details and quantity as needed -->
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Generate JSON</button>
</form>


    <!-- Space before the div -->
    <div class="vertical-space"></div>

    <!-- Tradingview Webhook URL Information -->
    <div id="webhook-info" class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 my-4 relative" role="alert">
        <p class="font-bold">Tradingview Webhook URL</p>
        <div class="flex items-center space-x-2">
            <p id="webhookURL" class="flex-1">{{host}}/api/v1/placesmartorder</p>
            <button onclick="copyToClipboard('#webhookURL', '#copyAlert')" class="bg-green-100 hover:bg-green-200 text-green-700 font-semibold py-2 px-4 border border-green-400 rounded transition-colors duration-300">
                <img src="{{ url_for('static', filename='images/copy-icon.png') }}" alt="Copy" class="h-4 w-4"/>
            </button>
            <span id="copyAlert" class="text-green-500"></span>
        </div>
    </div>



    <div id="json-output-container">
        <pre class="language-json"><code id="json-output"></code></pre>
        
    <div class="copy-container">
        <button id="copy-json" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Copy JSON</button>
        <div id="copy-success-alert">Copied to clipboard!</div> <!-- Success alert -->
    </div>

    <!-- Space after the div -->
    <div class="margin-bottom"></div>
    <div class="margin-bottom"></div>
    

<script>
    document.getElementById('tradingview-form').addEventListener('submit', function(e) {
        e.preventDefault();
        
        // Collect data from the form
        var symbol = document.getElementById('symbol').value;
        var product = document.getElementById('product').value;
        var exchange = document.getElementById('exchange').value;
        // Prepare the data to be sent to the server
        var formData = {
            symbol: symbol,
            product: product,
            exchange: exchange
        };

        // AJAX POST request to the /tradingview route
        fetch('/tradingview/', {
            method: 'POST',
            body: JSON.stringify(formData),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            // Reconstruct the JSON object in the correct order
            let orderedData = {
                "apikey": data.apikey,
                "strategy": data.strategy,
                "symbol": data.symbol,
                "action": data.action,
                "exchange": data.exchange,
                "pricetype": data.pricetype,
                "product": data.product,
                "quantity": data.quantity,
                "position_size": data.position_size
            };
            // Update the display with the ordered and beautified jsonData
            document.getElementById('json-output-container').style.display = 'block';
            var jsonOutput = document.getElementById('json-output');
            jsonOutput.textContent = JSON.stringify(orderedData, null, 2);
            Prism.highlightElement(jsonOutput);
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    });

    document.getElementById('copy-json').addEventListener('click', function() {
        var jsonOutput = document.getElementById('json-output').textContent;
        navigator.clipboard.writeText(jsonOutput).then(function() {
            // Show the success alert
            var alertBox = document.getElementById("copy-success-alert");
            alertBox.style.display = 'inline'; // Use 'inline' instead of 'block' to flow in line with the button
            setTimeout(() => { alertBox.style.display = 'none'; }, 3000); // Hide the alert after 3 seconds
        }, function(err) {
            console.error('Could not copy text: ', err);
        });
    });
</script>

<script>
    function copyToClipboard(selector, alertSelector) {
        var text = document.querySelector(selector).textContent;
        navigator.clipboard.writeText(text).then(function() {
            // Show the success alert
            var alertBox = document.querySelector(alertSelector);
            alertBox.textContent = 'Copied!'; // Set the alert text
            alertBox.style.display = 'inline'; // Show the alert
            setTimeout(() => { alertBox.style.display = 'none'; alertBox.textContent = ''; }, 3000); // Hide the alert after 3 seconds
        }, function(err) {
            // In case of an error
            var alertBox = document.querySelector(alertSelector);
            alertBox.textContent = 'Failed to copy'; // Set the alert text
            alertBox.style.display = 'inline'; // Show the alert
            setTimeout(() => { alertBox.style.display = 'none'; alertBox.textContent = ''; }, 3000); // Hide the alert after 3 seconds
        });
    }
</script>



<!-- Include Prism JS -->
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>


{% endblock %}
