<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zebu Authentication</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-900 flex flex-col items-center justify-center h-screen text-white">
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-sm w-full">
        <div class="flex justify-center mb-6">
            <img class="h-20 w-auto" src="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" alt="OpenAlgo">
        </div>
        <h2 class="text-3xl font-bold mb-6 text-center">Broker Authentication</h2>
        <form action="/zebu/callback" method="POST" class="space-y-6">
            <div>
                <label for="userid" class="block text-sm font-medium text-gray-300">Client ID</label>
                <input type="text" id="userid" name="userid" required class="mt-1 block w-full px-3 py-2 bg-gray-700 text-gray-300 border-gray-600 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-indigo-500">
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-300">Password</label>
                <input type="password" id="password" name="password" required class="mt-1 block w-full px-3 py-2 bg-gray-700 text-gray-300 border-gray-600 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-indigo-500">
            </div>
            <div>
                <label for="totp" class="block text-sm font-medium text-gray-300">TOTP/DOB/PAN</label>
                <input type="password" id="totp" name="totp" required class="mt-1 block w-full px-3 py-2 bg-gray-700 text-gray-300 border-gray-600 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-indigo-500">
            </div>
            <div class="flex items-center justify-center">
                <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Zebu Login</button>
            </div>
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
            {{ error_message }}
            </div>
            {% endif %}
        </form>
    </div>

    <!-- Include the footer content -->
    {% include 'footer.html' %}
</body>
</html>
